@import "_variables.scss";

.dna {
  background-image: url(../images/dna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15%;
  margin-top: 1%;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 13%;
  }

  @media (min-width: $desktop) {
    padding: 11%;
  }
}

.dna-title {
  color: $white;
  text-align: center;
  font-size: 35px;
  line-height: 55px;
  box-sizing: border-box;
  text-shadow: 4px 4px 4px $light-green;

  @media (min-width: $tablet) and (max-width: $desktop) {
    font-size: 50px;
    line-height: 70px;
  }
  @media (min-width: $desktop) {
    font-size: 80px;
    line-height: 120px;
  }
}
