$default-font: "Roboto", "Times New Roman", serif;
$second-font: "Raleway", "Times New Roman", serif;

$light-green: #497557;
$green: #0c4a34;
$grey: #757575;
$dark-green: #02291c;
$text-color-dark: #214e41;
$text-color-light: #43806c;
$white: #ffffff;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 80%;
  padding-top: 5%;

  background-color: $light-green;

  @media (min-width: $tablet) and (max-width: $desktop) {
    align-items: stretch;
    padding-top: 2%;
    height: 60%;
  }
  @media (min-width: $desktop) {
    align-items: stretch;
    padding-top: 2%;
    height: 30vh;
  }
}

.footer-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 70%;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.footer-information-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-information-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-information-list__link {
  padding-bottom: 5px;
}

.footer-information-social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-information-social-media__text {
  padding-top: 0px;
}

.footer-information-social-media__subscription {
  position: relative;
  width: 279px;

  input {
    width: 270px;
    height: 52px;

    background-color: $light-green;
    border: 1px solid $white;

    padding-left: 5px;

    color: $white;
    outline: none;

    @media (min-width: $tablet) {
      width: 355px;
      height: 52px;
      padding-left: 10px;
    }
  }

  input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $white;
    opacity: 0.8;
  }

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.arow-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 53px;
  height: 55px;

  background-color: $white;

  img {
    width: 19px;
    height: 13px;
  }
}

.footer-information-social-media__in {
  width: 26px;
  height: 26px;

  padding-top: 10px;
}

.footer__line {
  width: 94%;
  border-top: 1px solid $white;
  opacity: 0.5;
}

.footer-rights {
  text-align: center;
  padding: 10px 0;
}
