$second-font: "Raleway", "Times New Roman", serif;

$text-color-dark: #214e41;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

.header {
  background-image: url(../images/header2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.header-title {
  max-width: 50vw;
  padding: 3% 0 1% 2%;
  margin: 0;
  color: $text-color-dark;

  @media (min-width: $tablet) {
    max-width: 50vw;
    padding: 12% 0 2% 8%;
  }
}

.header-text {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    max-width: 38vw;
    font-size: 12px;
    line-height: 17px;
    padding: 0 0 1% 8%;
    font-family: $second-font;
    font-style: normal;
    font-weight: 700;
    color: $text-color-dark;
  }
}

.form {
  padding: 2% 0 10% 1%;

  @media (min-width: $tablet) {
    padding: 3% 0 15% 8%;
  }
}
