.header {
  background-image: url(../images/header2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.header-title {
  max-width: 50vw;
  padding: 3% 0 1% 2%;
  margin: 0;
  color: #214e41;
}

.header-text {
  display: none;
}

.form {
  padding: 2% 0 10% 1%;
}

@media (min-width: 768px) {
  .header-title {
    max-width: 50vw;
    padding: 12% 0 2% 8%;
  }
}

@media (min-width: 768px) {
  .header-text {
    display: block;
    max-width: 38vw;
    font-size: 12px;
    line-height: 17px;
    padding: 0 0 1% 8%;
    font-family: "Raleway", "Times New Roman", serif;
    font-style: normal;
    font-weight: 700;
    color: #214e41;
  }
}

@media (min-width: 768px) {
  .form {
    padding: 3% 0 15% 8%;
  }
}
