$default-font: "Roboto", "Times New Roman", serif;
$second-font: "Raleway", "Times New Roman", serif;

$light-green: #497557;
$green: #0c4a34;
$grey: #757575;
$dark-green: #02291c;
$text-color-dark: #214e41;
$text-color-light: #43806c;
$white: #ffffff;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

.how-it-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  padding-bottom: 10%;
  background: linear-gradient(135deg, $green, #54a04f);

  @media (min-width: $tablet) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    padding: 0 8% 2% 8%;
  }
}
.how-it-works__heading {
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 10% auto;
  color: $white;

  @media (min-width: $tablet) {
    grid-row: 1/2;
    grid-column: 1/5;
    margin: 5% auto;
  }
}

.how-it-works-point1 {
  grid-row: 2/3;
  grid-column: 1/2;

  @media (min-width: $tablet) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.how-it-works-point2 {
  grid-row: 3/4;
  grid-column: 1/2;

  @media (min-width: $tablet) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.how-it-works-point3 {
  grid-row: 4/5;
  grid-column: 1/2;

  @media (min-width: $tablet) {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}
.how-it-works-point4 {
  grid-row: 5/6;
  grid-column: 1/2;

  @media (min-width: $tablet) {
    grid-row: 2/3;
    grid-column: 4/5;
  }
}
.how-it-works-point__block-images {
  display: flex;
}

.how-it-works-point__image {
  width: 12%;
  height: 12%;
  margin: 1% auto;
}
.how-it-works-point__image4 {
  width: 12%;
  height: 12%;
  margin: 1% auto;

  @media (min-width: $tablet) {
    margin: 1% 40%;
  }
}

.how-it-works-point__image-arrow {
  width: 20%;

  @media (min-width: $tablet) {
    width: 15%;
  }
}

.how-it-works-point__image-arrow_direction-right {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.how-it-works-point__image-arrow_direction-down {
  display: block;
  margin: 1% auto;

  @media (min-width: $tablet) {
    display: none;
  }
}

.how-it-works-point__title {
  margin: 5%;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    margin: 6%;
    text-align: left;
  }
}
.how-it-works-point__text {
  margin: 5%;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    margin: 6%;
    text-align: left;
  }
}
