@import "_variables.scss";

.figure {
  position: relative;
  padding-top: 10px;
}

.figure-caption {
  position: absolute;
  left: 30px;
  bottom: 40%;
  width: 100%;

  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.figure-img {
  width: 100vw;
}
