$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

$text-color-dark: #214e41;

.scanning-algorithm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.scanning-algorithm-desciption {
  align-self: center;
  text-align: center;
  padding: 10px 5px;
  width: 80%;

  @media (min-width: $tablet) {
    align-self: center;
    text-align: center;
    padding: 10px 50px;
  }

  @media (min-width: $desktop) {
    justify-self: flex-start;
    text-align: start;
    width: 45%;
  }
}

.scanning-algorithm-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 90%;
  padding: 10px;

  @media (min-width: $desktop) {
    align-self: flex-end;
    width: 50%;
    padding: 20px;
  }
}

.scanning-algorithm-image-container__image {
  max-width: 100%;
  width: 100%;
}

.scanning-algorithm-desciption__title,
.scanning-algorithm-desciption__text {
  color: $text-color-dark;
}
