@import "_variables.scss";

.services__title {
  text-align: center;
  font-family: $default-font;
  color: $text-color-dark;
  margin: 12% auto;

  @media (min-width: $tablet) {
    margin: 4% auto;
  }
}

.services-block__title,
.services-block__text {
  color: $text-color-dark;
}

.services {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  @media (max-width: $mobile) and (max-width: $tablet) {
    flex-direction: column;
  }
  @media (min-width: $mobile) and (max-width: $tablet) {
    flex-direction: column;
  }
}

.services__block {
  padding: 10px;
  margin: 10px;

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.services__text,
.services__img {
  @media (max-width: $mobile) {
    width: 80vw;
  }
}

.services__img {
  border-radius: 3px;
  width: 100%;
  @media (min-width: $tablet) {
    width: 90%;
  }
}
