$default-font: "Roboto", "Times New Roman", serif;
$second-font: "Raleway", "Times New Roman", serif;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

$light-green: #497557;
$green: #0c4a34;
$grey: #757575;
$dark-green: #02291c;
$text-color-dark: #214e41;
$text-color-light: #43806c;
$white: #ffffff;

.services__title {
  text-align: center;
  font-family: $default-font;
  color: $text-color-dark;
  margin: 12% auto;

  @media (min-width: $tablet) {
    margin: 4% auto;
  }
}

.services-block__title,
.services-block__text {
  color: $text-color-dark;
}

.services {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  @media (max-width: $mobile) and (max-width: $tablet) {
    flex-direction: column;
  }
  @media (min-width: $mobile) and (max-width: $tablet) {
    flex-direction: column;
  }
}

.services__block {
  padding: 10px;
  margin: 10px;

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.services__text,
.services__img {
  @media (max-width: $mobile) {
    width: 80vw;
  }
}

.services__img {
  border-radius: 3px;
  width: 100%;
  @media (min-width: $tablet) {
    width: 90%;
  }
}
