$default-font: "Roboto", "Times New Roman", serif;
$second-font: "Raleway", "Times New Roman", serif;

$light-green: #497557;
$green: #0c4a34;
$dark-green: #02291c;
$text-color-dark: #214e41;
$text-color-light: #43806c;
$white: #ffffff;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

/* Request Form */
.form {
  display: flex;
}

/* Input field */
.input-field {
  width: 25vw;
  padding: 7px;
  background: $white;
  border-radius: 6px 0px 0px 6px;
  border: $white;

  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 5px;
  line-height: 7px;
  color: #222222;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 10px;
    font-size: 10px;
    line-height: 15px;
  }
  @media (min-width: $desktop) {
    width: 280px;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}

/* Input Field button */
.button {
  width: auto;
  padding: 7px;
  background: $light-green;
  border-radius: 0px 6px 6px 0px;
  border: $light-green;

  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 5px;
  line-height: 7px;
  color: $white;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 10px;
    font-size: 10px;
    line-height: 15px;
  }
  @media (min-width: $desktop) {
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
  }
}

/* Button */
.submit {
  width: 123px;
  padding: 4px;
  background: $light-green;
  border-radius: 6px;
  border: $light-green;

  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 6px;
  }

  @media (min-width: $desktop) {
    padding: 10px;
  }
}

/* Navigation */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;

  @media (min-width: $tablet) {
    flex-direction: row;
    margin: 10px 45px;
  }
}

.logo {
  margin-top: 10px;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-top: 0px;
  }
}

.logo__image {
  width: 12px;
}

.logo__text {
  height: 12px;
}
.nav-item {
  padding: 10px 10px;

  font-family: $second-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-dark;
  text-decoration: none;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 20px 30px;
  }
  @media (min-width: $desktop) {
    padding: 20px 50px;
  }
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-form {
  padding-top: 10px;

  @media (min-width: $tablet) {
    padding-left: 50px;
    padding-top: 0px;
  }
}
