$default-font: "Roboto", "Times New Roman", serif;
$second-font: "Raleway", "Times New Roman", serif;

$light-green: #497557;
$green: #0c4a34;
$grey: #757575;
$dark-green: #02291c;
$text-color-dark: #214e41;
$text-color-light: #43806c;
$white: #ffffff;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

.h1,
.h2 {
  font-family: $default-font;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    font-size: 24px;
    line-height: 30px;
  }
  @media (min-width: $desktop) {
    font-size: 36px;
    line-height: 46px;
  }
}

.h3 {
  font-family: $default-font;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    font-size: 20px;
    line-height: 26px;
  }
  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 26px;
  }
}

.text {
  font-family: $second-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.main-title {
  color: $text-color-dark;
}

.main-title_white {
  color: $white;
}

.main-text {
  letter-spacing: 0.02px;
  color: $grey;
}

.main-text_white {
  color: $white;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link:visited {
  color: $white;
}

.link_request {
  text-decoration: none;
}

.link_request:hover {
  cursor: pointer;
}

.link_request:visited {
  color: $white;
}

.request-link:hover {
  color: $text-color-dark;
}
