$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

.what-we-do {
  display: flex;
  flex-direction: column;
}

.what-we-do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 100%;
  height: 20em;

  background-image: url(/assets/images/esg_green_mobile.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  @media (min-width: $tablet) {
    background-image: url(/assets/images/esg_green.jpg);
  }

  @media (min-width: $desktop) {
    background-image: url(/assets/images/esg_green.jpg);
    justify-content: flex-start;
    height: 45em;
    background-position: top;
  }
  @media (min-width: $large-desktop) {
    background-image: url(/assets/images/esg_green.jpg);
    justify-content: flex-start;
    height: 55em;
    background-position: top;
  }
}

.what-we-do-container-description {
  margin: 3%;
  text-align: center;
  padding: 10px 5px;

  @media (min-width: $tablet) {
    padding: 10%;
    margin-left: 40%;
  }

  @media (min-width: $desktop) {
    padding: 10%;
    margin-left: 50%;
  }
}

.what-we-do__video {
  position: relative;
  align-self: center;
  margin-top: 2%;

  width: 100%;
  padding-top: 56.25%;

  @media (min-width: $desktop) {
    width: 70%;
    padding-top: 40%;
  }
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
