$default-font: "Roboto", "Times New Roman", serif;
$second-font: "Raleway", "Times New Roman", serif;

$light-green: #497557;
$green: #0c4a34;
$dark-green: #02291c;
$text-color-dark: #214e41;
$text-color-light: #43806c;
$white: #ffffff;

$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1560px;

.who-is-it-for {
  display: flex;
  flex-direction: column;
}

.who-is-it-for__description {
  width: 100%;
  align-self: center;
  box-sizing: border-box;
  padding: 7%;

  @media (min-width: $tablet) {
    padding: 2%;
  }
}

.who-is-it-for-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 90%;
  padding: 10px;

  @media (min-width: $desktop) {
    align-self: flex-end;
    width: 100%;
    padding: 20px;
  }
}

.who-is-it-for-container__foto {
  max-width: 100%;
  width: 100%;

  @media (min-width: $tablet) and (max-width: $desktop) {
    max-width: 50%;
  }
  @media (min-width: $desktop) {
    max-width: 50%;
  }
}

.who-is-it-for__title {
  text-align: center;
  color: $text-color-dark;
  margin-top: 0;
}

.who-is-it-for__text {
  width: 90%;
  margin: 2% auto 0 auto;
  text-align: center;
  letter-spacing: 0.02px;
  color: $text-color-dark;

  @media (min-width: $desktop) {
    width: 60%;
  }
}
